body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (min-width: 800px) and (min-width: 1050px) {
  .top-50 {
    top: 20%!important;
  }
}
.progress {
  margin: 1%;
}
.progress {
  margin: 2%!important;
  margin-top: 0!important;
}
.dropdown-menu {
  font-size: 70%!important;
}
.dropdown-toggle{
  width: 100%;
}
.card{
  background-color: #95c9ffa8!important;
}
